
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

/* Positionierung des Pfeils beim ausfahrbaren Menü */
.dropdown-toggle::after { /* ::after = Selektor, der etwas einfügt nach dem Inhalt des selektierten Elements */
    display: block;
    position: absolute;
    top: 45%; /* Positionierung bezieht sich auf die Box in der sich das "Datei"-Menü befindet */
    right: 90px;
}

/* Hintergrund-Farbe, Schriftart und -größe werden gestyled */
body {
    font-family: Avenir;
    background: whitesmoke;
}

p {
    font-family: Avenir;
    font-size: 25px;
    color: dimgrey;
}

a, a:hover {
    color: dimgrey;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh; /* vh = 100% viewport height */
    background: white;
    color: white;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: lightpink;
}

#sidebar ul.more {
    padding: 20px;
    border-bottom: 1px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 20px;
    display: block; /* Mit der Eigenschaft display wird festgelegt, welche Art von Box ein Element erzeugt. */
}
#sidebar ul li a:hover {
    color: black;
    background: white;
}

/* Hamburger-Menü wird hier gestyled*/
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: whitesmoke;
    border-color: whitesmoke;
}

#sidebarCollapse span {
    width: 100%;
    height: 3px;
    margin: 6px;
    display: block;
    background: black;
}
